<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eteng.mobileorder"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <!-- 管理蓝牙设备的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 网络访问权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name="com.eteng.mobileorder.MobileOrderApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        <activity
            android:name="com.eteng.mobileorder.AppStart"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.eteng.mobileorder.MainNaviActivity"
            android:theme="@style/CustomTheme"
            android:windowSoftInputMode="adjustPan" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.ANSWER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.eteng.mobileorder.PhoneOrderActivity" />
        <activity android:name="com.eteng.mobileorder.SettingActivity" />
        <activity android:name="com.eteng.mobileorder.OrderDetailActivity" />
        <activity android:name="com.eteng.mobileorder.SettingOwnProfile" android:windowSoftInputMode="adjustPan|adjustNothing"/>
        <activity android:name="com.eteng.mobileorder.SettingUploadActivity" />
        <activity android:name="com.eteng.mobileorder.SettingMenuByCategory" />
        <activity android:name="com.eteng.mobileorder.SettingDishImgUpload" />
        <activity
            android:name="com.eteng.mobileorder.LoginActivity"
            android:launchMode="singleTop" />
        <activity android:name="com.eteng.mobileorder.CustomerInfoActivity" />
        <activity android:name="com.eteng.mobileorder.RemarkEditActivity" />

        <service android:name="com.eteng.mobileorder.server.PhoneCallListenerService" />

        <receiver android:name="com.eteng.mobileorder.receiver.BootActionReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" >
                </action>
            </intent-filter>
        </receiver>
    </application>

</manifest>